@page "/"
@using Models
@inject NavigationManager NavigationManager

<PageTitle>Nepse IPOs</PageTitle>

<h1>Upcoming IPOs</h1>

<div class="row mb-4">
    <div class="col-sm-6">
        <button type="button" class="btn btn-primary" @onclick="CreateIpo">New IPO</button>
    </div>
</div>

@if (stocks is null)
{
    <p><em>Loading....</em></p>
}
else
{

    <table class="table table-striped table-success table-bordered">
        <thead class="table-dark">
            <th>S.No</th>
            <th>Company</th>
            <th>Sector</th>
            <th>Public Issue</th>
            <th>Rate/Stock</th>
            <th>Isuue Date</th>
            <th>Closing Date</th>
            <th>Edit</th>
        </thead>
        <tbody>
            @foreach (var stock in stocks)
            {
                <tr>
                    <td>@stock.ID</td>
                    <td>@stock.CompanyName</td>
                    <td>@stock.Sector</td>
                    <td>@stock.PublicIssueShares</td>
                    <td>@stock.Rate</td>
                    <td>@stock.OpenDate.ToString("MM/dd/yyyy")</td>
                    <td>@stock.CloseDate.ToString("MM/dd/yyyy")</td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    private Stocks[]? stocks;

    protected override void OnInitialized()
    {
        stocks = stockClient.GetStocks();
    }

    //add new ipo function
    private void CreateIpo()
    {
        NavigationManager.NavigateTo("/ipo");
    }

}